venv/
temp_venv/
__pycache__/
.pytest_cache/
.mypy_cache/
.vscode/
*.pyc
*.pyo
*.pyd
*.log
dist/
build/
.DS_Store
*.egg-info/
.env
tests/data/
tests/images/
faceid-core/models/
faceid-core/models_backup/
models/
models_backup/
