POSTGRES_HOST=10.0.0.10
POSTGRES_PORT=5432
POSTGRES_DB=faceid
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

REDIS_HOST=10.0.0.10
REDIS_PORT=6379
REDIS_DB=0

MINIO_ENDPOINT=10.0.0.10:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin

WORKER_SEMAPHORE=1
ONNX_INTRA_OP_THREADS=1
ONNX_INTER_OP_THREADS=1
BATCH_SIZE=2
